@page "/Entiteit/Personeelslid/Overzicht"
@page "/Entiteit/Personeelslid/Overzicht/{text}"
@attribute [Authorize(Roles = "entiteit")]
@inherits PersoneelslidOverzichtBase

<div class="row">
    <h3 class="col-lg-8"><span class="oi oi-people" /> Overzicht Personeelsleden - @_entiteit.Entiteitsnaam</h3>
    <span class="col-lg-4">
        <button @onclick='(e => Navigation.NavigateTo("/Entiteit/Personeelslid/Toevoegen"))' style="color: white; float: right;" class="btn btn-primary"><span class="oi oi-person" /> Personeelslid toevoegen</button>
    </span>
</div>
@if (!(Text is null))
{
    if (Text.Trim().ToLower().Equals("create"))
    {
        <div class="alert alert-success">
            Personeelslid succesvol aangemaakt.
        </div>
    }
    else if (Text.Trim().ToLower().Equals("delete"))
    {
        <div class="alert alert-danger">
            Personeelslid succesvol verwijderd.
        </div>
    }
}
<hr />
@foreach (Personeelsdienst.Models.Personeelslid personeelslid in Personeelsleden.OrderBy(p => p.IsAfwezig()).ThenBy(p => p.Naam))
{
    @if (personeelslid.IsAfwezig())
    {
        <div class="card text-white bg-danger m-1">
            <div class="card-body row">
                <div class="col-11">
                    <h5>@personeelslid.Naam</h5>
                    <u>Aantal afwezigheden:</u> @personeelslid.Afwezigheden.Count<br />
                    <u>Status:</u> Afwezig
                </div>
                <div class="col-1 btn-group-vertical">
                    <button @onclick="(e => VerwijderPersoneelslid(e, personeelslid.Id))" type="button" class="btn btn-outline-light"><span class="oi oi-trash" /></button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card m-2">
            <div class="card-body row">
                <div class="col-11">
                    <h5>@personeelslid.Naam</h5>
                    <u>Aantal afwezigheden:</u> @personeelslid.Afwezigheden.Count<br />
                    <u>Status:</u> Aanwezig
                </div>
                <div class="col-1 btn-group-vertical">
                    <button @onclick="(e => VerwijderPersoneelslid(e, personeelslid.Id))" type="button" class="btn btn-outline-danger"><span class="oi oi-trash" /></button>
                </div>
            </div>
        </div>
    }
}
